* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.menu-btn {
    position: fixed;
    top: 25px;
    left: 0px;
    cursor: pointer;
    z-index: 2;
    background: #2c3e50; /* Add a background color */
    border-radius: 50%; /* Makes it a circle */
    padding: 10px;
}

.burger {
    width: 30px;
    height: 3px;
    background: #2ecc71;
    margin: 6px 0;
    transition: 0.4s;
}

.navbar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #2c3e50;
    padding: 30px 0;
}

.navbar .logo-area {
    color: #2ecc71;
    text-align: center;
    margin-bottom: 30px;
}

.navbar .nav-list .nav-item {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}

.navbar .nav-list .nav-item:hover {
    background: #34495e;
}

.navbar .nav-list .nav-item .nav-a {
    color: #2ecc71;
    display: block;
}

.navbar .nav-list .nav-item .nav-span {
    padding-left: 2%;
}

.navbar .nav-list .nav-item .nav-a .fas {
    width: 25px;
}

/* retracted stuff */
.retracted .navbar {
    width: 50px; /* Adjust the width as needed */
}

.retracted .navbar .nav-list .nav-item .nav-span {
    display: none;
}

.retracted .navbar .logo-area {
    display: none;
}

.retracted .menu-btn .burger {
    width: 25px; /* Adjust the size as needed */
}