@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ecf0f1;
}

.wrapper, .wrapper.retracted {
    display: flex;
    position: relative;
    transition: margin-left 0.4s;
}

/* App content */
.wrapper .app-content {
    flex: 1; /* This allows the content to take up the remaining space */
    margin-left: 200px; /* Adjust the margin to match the width of your sidebar */
    padding: 20px; /* Add padding as needed */
    background: #ecf0f1; /* Set the background color if desired */
}

.wrapper.retracted .app-content {
    margin-left: 50px; /* Adjust the margin to match the width of your retracted sidebar */
}